.section {
    position: relative;
}


.container__celeste {
    width: 470px;
    height: 205px;
    position: relative;
    margin-left: -15px;
    background-color: $blue-de-france;

}
.container__info {
    width: 350px;
    height: 350px;
    margin-left: 68px;
    padding-top: 40px;
    font-size: $medium;
    font-family: $pt-mono;
    
    
    h5 {
        font-family: $Roboto;
    }
}


.cafe{
    width: 500px;
    position: relative;  
    z-index: 1; 
}
 .mapa {
    width: 400px;
    padding-top: 20px;
    margin-left: -15px;
 }

 .rotate {
     width: 150px;
     position: absolute;
     margin-top: 38px;
     z-index: 2;
    -moz-transform: rotate(90deg);
  
   /* FF3.5+ */
   
   -o-transform: rotate(90deg);
   
   /* Opera 10.5 */
   
   -webkit-transform: rotate(90deg);
   
   /* Saf3.1+, Chrome */
  }